.website_title{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 2%, 38%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration :none;
    padding: 15px;
    display: block; 
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 2%, 28%);
}

.navbar li{
    float:left;
}

.gallery{
    display:inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
}

.gallery:hover{
    border: 5px solid hsl(0, 0%, 20%);
}
