body{
    background-color: rgb(238, 236, 236);
}
#image-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    margin-top: auto;
}

#image-header img {
    width: 100%; 
    height: auto; 
    max-height: 221px; 
}

.header-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    padding: 10px;
}

.header-text h4 {
    font-size: 62px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 1px;
}

.side-rectangle {
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    width: 257px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.portrait img {
    width: auto;
    height: 263px;
}

.contacts {
    padding: 10px;
}

.contacts h4 {
    font-family: 'Times New Roman';
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
}

.contacts p {
    font-family: 'Times New Roman';
    font-size: 24px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
    font: lighter;
}

.contacts i {
    color: white;
}

.recent-projects p {
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
    font: lighter;
}

.recent-projects i {
    color: white;
    margin-left: 50px;
    margin-top: 25px; 
}

.main-content {
    width: 1200px;
    height: 500px;
    margin-top: 230px;
    margin-left: 300px;
}

.main-content h1 {
    font-size: 32px;
    font-family: Calibri;
    margin-bottom: 13px;
}

.main-content p {
    font-size: 20px;
    font-family: Helvetica;
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 13px;
}

.main-content ul {
    font-size: 20px;
    font-family: Helvetica;
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 13px;
}

